<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="referent">
            <h2><span jhiTranslate="plateau93App.referent.detail.title">Referent</span> {{ referent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="plateau93App.referent.nom">Nom</span></dt>
                <dd>
                    <span>{{ referent.nom }}</span>
                </dd>
                <dt><span jhiTranslate="plateau93App.referent.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ referent.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="plateau93App.referent.licence">Licence</span></dt>
                <dd>
                    <span>{{ referent.licence }}</span>
                </dd>
                <dt><span jhiTranslate="plateau93App.referent.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ referent.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="plateau93App.referent.email">Email</span></dt>
                <dd>
                    <span>{{ referent.email }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/referent', referent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
