<div>
    <h2 id="page-heading">
        <span jhiTranslate="plateau93App.referent.home.title">Referents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-referent" [routerLink]="['/referent/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="plateau93App.referent.home.createLabel">
            Create a new Referent
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="referents?.length === 0">
        <span jhiTranslate="plateau93App.referent.home.notFound">No referents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="referents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="plateau93App.referent.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="plateau93App.referent.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="licence"><span jhiTranslate="plateau93App.referent.licence">Licence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="plateau93App.referent.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="plateau93App.referent.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let referent of referents ;trackBy: trackId">
                    <td><a [routerLink]="['/referent', referent.id, 'view']">{{ referent.id }}</a></td>
                    <td>{{ referent.nom }}</td>
                    <td>{{ referent.prenom }}</td>
                    <td>{{ referent.licence }}</td>
                    <td>{{ referent.telephone }}</td>
                    <td>{{ referent.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/referent', referent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/referent', referent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(referent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="referents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
