<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inscription-heading" jhiTranslate="plateau93App.inscription.home.createOrEditLabel">Create or edit a Inscription</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plateau93App.inscription.nombreEquipe" for="field_nombreEquipe">Nombre Equipe</label>
                    <input type="number" class="form-control" name="nombreEquipe" id="field_nombreEquipe"
                           formControlName="nombreEquipe"/>
                    <div *ngIf="editForm.get('nombreEquipe')!.invalid && (editForm.get('nombreEquipe')!.dirty || editForm.get('nombreEquipe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreEquipe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nombreEquipe')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                

                

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plateau93App.inscription.referent" for="field_referent">Referent</label>
                    <select class="form-control" id="field_referent" name="referent" formControlName="referent">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="referentOption.id === editForm.get('referent')!.value?.id ? editForm.get('referent')!.value : referentOption" *ngFor="let referentOption of referents; trackBy: trackById">{{ referentOption.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
