<div>

	<jhi-alert></jhi-alert>
	
    <div class="row">
		<div class="col-sm-8">
			<h2 id="page-heading">
        		<span jhiTranslate="plateau93App.club.home.title">Clubs</span>
			</h2>
		</div>
		<div class="col-sm-4 text-right">
        	<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-club" [routerLink]="['/club/new']">
            	<fa-icon icon="plus"></fa-icon>
            	<span class="hidden-sm-down"  jhiTranslate="plateau93App.club.home.createLabel">
            	Create a new Club
            	</span>
        	</button>

    

            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mr-1">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'plateau93App.club.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="clubs?.length === 0">
        <span jhiTranslate="plateau93App.club.home.notFound">No clubs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clubs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logo"><span jhiTranslate="plateau93App.club.logo">Logo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="plateau93App.club.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="plateau93App.club.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="plateau93App.club.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="plateau93App.club.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let club of clubs ;trackBy: trackId">
                    <td><a [routerLink]="['/club', club.id, 'view']">{{ club.id }}</a></td>
                    <td>
                        <a *ngIf="club.logo" (click)="openFile(club.logoContentType, club.logo)">
                            <img [src]="'data:' + club.logoContentType + ';base64,' + club.logo" style="max-height: 30px;" alt="club image"/>
                        </a>
                        <span *ngIf="club.logo">{{ club.logoContentType }}, {{ byteSize(club.logo) }}</span>
                    </td>
                    <td>{{ club.nom }}</td>
                    <td>{{ club.adresse }}</td>
                    <td>{{ club.telephone }}</td>
                    <td>{{ club.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/club', club.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/club', club.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(club)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clubs?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
