<div class="footer">
	<div id="footer-fond">

		<div id="footer-wrap">

			<footer id="footer" class="container clearfix" role="contentinfo">


				<nav id="footerliguenav" class="clearfix" role="navigation">
					<ul id="footer1-nav-menu" class="menu">
						<li id="menu-item-1737"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1737"><a
							target="_blank" href="https://www.fff.fr/le-foot-amateur">Le
								Foot Amateur</a></li>
						<li id="menu-item-932"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-932"><a
							target="_blank" href="https://footclubs.fff.fr/">Footclubs</a></li>
						<li id="menu-item-930"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-930"><a
							target="_blank" href="https://www.fff.fr/mentions-legales">Mentions
								légales</a></li>
						<li id="menu-item-5746"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5746"><a
							target="_blank" href="https://www.fff.fr/cgu">CGU</a></li>
						<li id="menu-item-7103"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7103"><a
							href="https://www.fff.fr/politique_protection">Données
								personnelles</a></li>
					</ul>
					<ul class="menu menu-compl">
						<li><a href="javascript:Didomi.preferences.show()">Préférences
								Cookies</a></li>
					</ul>
				</nav>


				<div class="footer-line-break"></div>


				<nav id="footerliguenav" class="clearfix" role="navigation">
					<h4>La FFF</h4>
					<ul id="footer2-nav-menu" class="menu">
						<li id="menu-item-226"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-226"><a
							target="_blank" href="https://sso.fff.fr/oauth/v2/login">Mon
								Espace FFF</a></li>
						<li id="menu-item-2003"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2003"><a
							target="_blank"
							href="https://www.youtube.com/channel/UCHMC7Vn3h-zwt2RJ2YRSyIQ">E-Learning
								FFF</a></li>
						<li id="menu-item-227"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-227"><a
							target="_blank" href="http://footalecole.fff.fr/fr/">Foot à
								l'école</a></li>
						<li id="menu-item-228"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-228"><a
							target="_blank"
							href="https://www.fff.fr/horizon-bleu/presentation">Héritage
								Horizon Bleu</a></li>
						<li id="menu-item-2004"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2004"><a
							href="https://www.fff.fr/direction-technique-nationale/dtn-developpement-des-pratiques/pratique-feminine">Pratique
								Féminine</a></li>
						<li id="menu-item-229"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-229"><a
							href="https://www.fff.fr/actualites/161844-568161-le-guide-interactif-du-football-des-enfants">Guide
								interactif</a></li>
						<li id="menu-item-230"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-230"><a
							target="_blank"
							href="https://www.fff.fr/common/bib_res/ressources/440000/7500/150629150048_courrier_club_adhesion_cosmos.pdf">Adhesion
								CoSMoS</a></li>
						<li id="menu-item-231"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-231"><a
							target="_blank" href="https://www.fff.fr/fafa">FAFA</a></li>
						<li id="menu-item-232"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-232"><a
							target="_blank"
							href="http://www.dailymotion.com/hub/x38n4#video=x5aib74">TV
								foot amateur</a></li>
						<li id="menu-item-233"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-233"><a
							target="_blank"
							href="https://www.fff.fr/la-fff/medical/actualites-campagnes-federales/">Santé</a></li>
						<li id="menu-item-234"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-234"><a
							target="_blank"
							href="https://www.fff.fr/championnats/credit-agricole-foot-challenge">Mozaïc
								Foot Challenge</a></li>
						<li id="menu-item-235"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-235"><a
							target="_blank" href="https://www.fff.fr/la-fff/foot-mag">Foot
								mag</a></li>
						<li id="menu-item-236"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-236"><a
							target="_blank" href="https://www.fff.fr/programme-tv">Programme
								TV</a></li>
					</ul>
				</nav>


				<div class="footer-line-break"></div>

				<nav id="footerliguenav" class="clearfix" role="navigation">
					<h4>Liens utiles</h4>
					<ul id="footer3-nav-menu" class="menu">
						<li id="menu-item-241"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-241"><a
							target="_blank" href="https://mail.google.com">Messagerie
								Clubs</a></li>
						<li id="menu-item-2434"
							class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2434"><a
							href="https://district93foot.fff.fr">93 football</a></li>
					</ul>
				</nav>

			</footer>

		</div>

	</div>
</div>


