<div class="row">
    <div class="col-5">
        <div *ngIf="plateau">
            <h2><span jhiTranslate="plateau93App.plateau.detail.title">Plateau</span> {{ plateau.id }} : {{ plateau.statut }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row">
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.dateDebut">Date Debut</span></dt>
                <dd class="col-sm-8">
                    <span>{{ plateau.dateDebut }}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.dateFin">Date Fin</span></dt>
                <dd class="col-sm-8">
                    <span>{{ plateau.dateFin }}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.heureDebut">Heure Debut</span></dt>
                <dd class="col-sm-8">
                    <span>{{ plateau.heureDebut }}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.heureFin">Heure Fin</span></dt>
                <dd class="col-sm-8">
                    <span>{{ plateau.heureFin }}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.programme">Programme</span></dt>
                <dd class="col-sm-8">
                    <div *ngIf="plateau.programme">
                        <a (click)="openFile(plateau?.programmeContentType!, plateau?.programme)" jhiTranslate="entity.action.open">open</a>
                        {{ plateau.programmeContentType }}, {{ byteSize(plateau.programme) }}
                    </div>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.nombreEquipeMax">Nombre Equipe Max</span></dt>
                <dd class="col-sm-8">
                    <span>{{ plateau.nombreEquipeMax }}</span>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.nombreEquipe">Nombre Equipe</span></dt>
                <dd class="col-sm-8">
                    <span>{{ plateau.nombreEquipe }}</span>
                </dd>
                
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.referent">Referent</span></dt>
                <dd class="col-sm-8">
                    <div *ngIf="plateau.referent">
                        <a [routerLink]="['/referent', plateau.referent?.id, 'view']">{{ plateau.referent?.nom }}</a>
                    </div>
                </dd>
                
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.stade">Stade</span></dt>
                <dd class="col-sm-8">
                    <div *ngIf="plateau.stade">
                        <a [routerLink]="['/stade', plateau.stade?.id, 'view']">{{ plateau.stade?.nom }}</a>
                    </div>
                </dd>
                <dt class="col-sm-4"><span jhiTranslate="plateau93App.plateau.categorie">Categorie</span></dt>
                <dd class="col-sm-8">
                    <div *ngIf="plateau.categorie">
                        <a [routerLink]="['/categorie', plateau.categorie?.id, 'view']">{{ plateau.categorie?.section }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plateau', plateau.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
    <div class="col-7">

        <jhi-inscription></jhi-inscription>
    </div>
</div>
