<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-plateau-heading" jhiTranslate="plateau93App.plateau.home.createOrEditLabel">Create or edit a Plateau</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group col-6 date-plateau">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.dateDebut" for="field_dateDebut">Date Debut</label>
                    <div class="input-group">
                        <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" ngbDatepicker #dateDebutDp="ngbDatepicker" formControlName="dateDebut"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group col-6 date-plateau">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.dateFin" for="field_dateFin">Date Fin</label>
                    <div class="input-group">
                        <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker #dateFinDp="ngbDatepicker" formControlName="dateFin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group col-6 heure-plateau">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.heureDebut" for="field_heureDebut">Heure Debut</label>
                    <input type="text" class="form-control" name="heureDebut" id="field_heureDebut"
                           formControlName="heureDebut"/>
                </div>

                <div class="form-group  col-6 heure-plateau">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.heureFin" for="field_heureFin">Heure Fin</label>
                    <input type="text" class="form-control" name="heureFin" id="field_heureFin"
                           formControlName="heureFin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.programme" for="field_programme">Programme</label>
                    <div>
                        <div *ngIf="editForm.get('programme')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('programmeContentType')!.value, editForm.get('programme')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('programmeContentType')!.value }}, {{ byteSize(editForm.get('programme')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({programme: null});editForm.patchValue({programmeContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_programme" (change)="setFileData($event, 'programme', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="programme" id="field_programme"
                           formControlName="programme"/>
                    <input type="hidden" class="form-control" name="programmeContentType" id="field_programmeContentType"
                           formControlName="programmeContentType" />
                </div>

                <div class="form-group col-4 heure-plateau">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.nombreEquipeMax" for="field_nombreEquipeMax">Nbr Equipe Max</label>
                    <input type="number" class="form-control" name="nombreEquipeMax" id="field_nombreEquipeMax"
                           formControlName="nombreEquipeMax"/>
                </div>
                <div class="form-group col-4 heure-plateau">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.nombreParticipant" for="field_nombreEquipeMax">Nbr Equipe Max</label>
                    <input type="number" class="form-control" name="nombreEquipe" id="field_nombreEquipe"
                           formControlName="nombreEquipe"/>
                </div>
                             

                <div class="form-group col-4 heure-plateau">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.referent" for="field_referent">Referent</label>
                    <select class="form-control" id="field_referent" name="referent" formControlName="referent">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="referentOption.id === editForm.get('referent')!.value?.id ? editForm.get('referent')!.value : referentOption" *ngFor="let referentOption of referents; trackBy: trackById">{{ referentOption.nom }}</option>
                    </select>
                </div>

                

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.stade" for="field_stade">Stade</label>
                    <select class="form-control" id="field_stade" name="stade" formControlName="stade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stadeOption.id === editForm.get('stade')!.value?.id ? editForm.get('stade')!.value : stadeOption" *ngFor="let stadeOption of stades; trackBy: trackById">{{ stadeOption.nom }}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="plateau93App.plateau.categorie" for="field_categorie">Categorie</label>
                    <select class="form-control" id="field_categorie" name="categorie" formControlName="categorie">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorieOption.id === editForm.get('categorie')!.value?.id ? editForm.get('categorie')!.value : categorieOption" *ngFor="let categorieOption of categories; trackBy: trackById">{{ categorieOption.section }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
