<div>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-8">
			<h2 id="page-heading">
				<span jhiTranslate="plateau93App.plateau.home.title">Plateau</span>
			</h2>
		</div>
		<div class="col-sm-4 text-right" >
			<button id="jh-create-entity"
				class="btn btn-primary float-right jh-create-entity create-plateau"
				[routerLink]="['/plateau/new']" *jhiHasAnyAuthority="'ROLE_USER'">
				<fa-icon icon="plus" ></fa-icon>
				<span class="hidden-sm-down"
					jhiTranslate="plateau93App.plateau.home.createLabel">
					Create a new Plateau </span>
			</button>

			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mr-1">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'plateau93App.plateau.home.search' | translate }}">

					<button class="input-group-append btn btn-info"
						(click)="search(currentSearch)">
						<fa-icon icon="search"></fa-icon>
						
					</button>

					<button class="input-group-append btn btn-danger"
						(click)="search('')" *ngIf="currentSearch">
						<fa-icon icon="trash-alt"></fa-icon>
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="alert alert-warning" id="no-result"
		*ngIf="plateaus?.length === 0">
		<span jhiTranslate="plateau93App.plateau.home.notFound">No
			plateau found</span>
	</div>

	<div class="table-responsive" id="entities"
		*ngIf="plateaus?.length > 0">
		<table class="table table-striped" aria-describedby="page-heading">
			<thead>
				<tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending"
					[callback]="loadPage.bind(this)">
					<th scope="col" jhiSortBy="id"><span
						jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>

					<th scope="col"  jhiSortBy="categorie.section"><span jhiTranslate="plateau93App.plateau.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon></th>

					<th scope="col" jhiSortBy="dateDebut"><span
						jhiTranslate="plateau93App.plateau.dateDebut">Date Debut</span> <fa-icon
							icon="sort"></fa-icon></th>
					
					
					
					<th scope="col" jhiSortBy="programme"><span
						jhiTranslate="plateau93App.plateau.programme">Programme</span> <fa-icon
							icon="sort"></fa-icon></th>
					
					<th scope="col" jhiSortBy="nombreEquipe"><span
						jhiTranslate="plateau93App.plateau.nombreEquipeMax">Nbr Equipe Max</span> <fa-icon
							icon="sort"></fa-icon></th>
					<th scope="col" jhiSortBy="nombreEquipe"><span
						jhiTranslate="plateau93App.plateau.nombreEquipe">Nbr Equipe</span> <fa-icon
							icon="sort"></fa-icon></th>
					<th scope="col" jhiSortBy="referent.nom"><span
						jhiTranslate="plateau93App.plateau.referent">Referent</span> <fa-icon
							icon="sort"></fa-icon></th>
					<th scope="col" jhiSortBy="statut">
						<span jhiTranslate="plateau93App.plateau.statut">Statut</span> 
						<fa-icon icon="sort"></fa-icon>
					</th>
					<th scope="col"></th>					
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let plateau of plateaus ;trackBy: trackId">
					<td><a [routerLink]="['/plateau', plateau.id, 'view']">{{plateau.id }}</a></td>
					<td>
                        <div *ngIf="plateau.categorie">
                            <a [routerLink]="['/categorie', plateau.categorie?.id, 'view']" >{{ plateau.categorie?.section }}</a>
                        </div>
                    </td>
					<td>{{ plateau.dateDebut | date:'mediumDate' }} {{ plateau.heureDebut }}</td>
					<td class="text-center">
						<button id="jh-create-entity"
				class="btn btn-primary btn-sm"
				 (click)="openFile(plateau.programmeContentType, plateau.programme)">
				 ouvrir
			</button>
						</td>
					<td class="text-center">{{ plateau.nombreEquipeMax }}</td>
					<td class="text-center">{{ plateau.nombreEquipe }}</td>
					<td>
						<div *ngIf="plateau.referent">
							<a [routerLink]="['/referent', plateau.referent?.id, 'view']">{{
								plateau.referent?.nom }}</a>
						</div>
					</td>
					<td class="text-center">{{ plateau.statut }}</td>
					<td class="text-right" *jhiHasAnyAuthority="'ROLE_USER'">
						
						<div class="btn-group" *ngIf="!currentAccount || currentAccount.login === plateau.user.login">
							<button type="submit"
								[routerLink]="['/plateau', plateau.id, 'view']"
								class="btn btn-info btn-sm">
								<fa-icon icon="eye"></fa-icon>
							</button>

							<button type="submit"
								[routerLink]="['/plateau', plateau.id, 'edit']"
								class="btn btn-primary btn-sm">
								<fa-icon icon="pencil-alt"></fa-icon>
									
							</button>

							<button type="submit" (click)="delete(plateau)"
								class="btn btn-danger btn-sm">
								<fa-icon icon="times"></fa-icon>
							</button>

							
						</div>
						<div class="btn-group" *ngIf="currentAccount && currentAccount.login !== plateau.user.login">
							<button type="submit"
								[routerLink]="['/plateau', plateau.id, 'view']"
								class="btn btn-info btn-sm">
								<fa-icon icon="eye"></fa-icon>
							</button>
							<button type="submit" 
									*ngIf="canSinscrire(plateau)"
									
									(click)=inscription(plateau)
									class="btn btn-info btn-sm">
									<fa-icon icon="plus"><span class="hidden-sm-down">S'inscrire</span></fa-icon>
							</button>
						</div>
					</td>
					<td class="text-right" *jhiHasAnyAuthority="'ROLE_ADMIN'">
						<div class="btn-group">
							<button class="btn btn-success btn-sm"
								(click)="setActive(plateau, false)" *ngIf="plateau.valid"
								jhiTranslate="userManagement.deactivated">Deactivated</button>
							<button class="btn btn-danger btn-sm"
								(click)="setActive(plateau, true)" *ngIf="!plateau.valid"
								jhiTranslate="userManagement.activated">Activated</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div *ngIf="plateaus?.length > 0">
		<div class="row justify-content-center">
			<jhi-item-count [page]="page" [total]="totalItems"
				[itemsPerPage]="itemsPerPage"></jhi-item-count>
		</div>

		<div class="row justify-content-center">
			<ngb-pagination [collectionSize]="totalItems"
				[(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5"
				[rotate]="true" [boundaryLinks]="true"
				(pageChange)="loadPage($event)"></ngb-pagination>
		</div>
	</div>
</div>
